<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application
            icon="icons/explorer.png">
         <run
               class="uk.ac.diamond.scisoft.icatexplorer.rcp.internal.Application">
         </run>
      </application>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="uk.ac.diamond.scisoft.icatexplorer.rcp.internal.Application"
            name="ICAT Explorer">
         <property
               name="ICAT Explorer"
               value="ICAT Explorer">
         </property>
         <property
               name="windowImages"
               value="icons/explorer.png">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.ui.ICATPerspective"
            icon="icons/icat_logo.gif"
            restorable="true"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.perspective"
            name="ICAT">
      </perspective>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
       <category
            name="ICAT"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp">
      </category>
      <view
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.ui.LoginView"
            closeable="true"
            icon="icons/login.png"
            id="uk.ac.diamond.scisoft.icatlogin.rcp.ui.LoginView"
            name="ICAT Login"
            ratio="0.3"
            relationship="left"
            relative="org.eclipse.ui.editorss"
            showTitle="true"
            visible="true">
      </view>
      <view
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.provider.CNFNavigator"
            closeable="true"
            icon="icons/database.png"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.view"
            name="ICAT Content"
            ratio="0.5"
            relationship="stack"
            relative="uk.ac.diamond.scisoft.icatexplorer.rcp.ui.LoginView"
            restorable="false"
            showTitle="true"
            visible="false">
     </view>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="uk.ac.diamond.scisoft.icatexplorer.rcp.view">
         <popupMenu
               allowsPlatformContributions="true"
               id="uk.ac.diamond.scisoft.icatexplorer.rcp.view.popup">
            <insertionPoint
                  name="group.new"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.open"
                  separator="false">
            </insertionPoint>
            <insertionPoint
                  name="group.edit"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="additions"
                  separator="true">
            </insertionPoint>
            <insertionPoint
                  name="group.properties"
                  separator="true">
            </insertionPoint>
         </popupMenu>
      </viewer>
      <viewerContentBinding
            viewerId="uk.ac.diamond.scisoft.icatexplorer.rcp.view">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="uk.ac.diamond.scisoft.icatexplorer.rcp.content.VirtualContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="uk.ac.diamond.scisoft.icatexplorer.rcp.provider.CNFContentProvider"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.content.VirtualContent"
            labelProvider="uk.ac.diamond.scisoft.icatexplorer.rcp.provider.CNFLabelProvider"
            name="ICAT Content"
            priority="normal">
         <actionProvider
               class="uk.ac.diamond.scisoft.icatexplorer.rcp.provider.CNFActionProvider"
               id="openChildProvider">
         </actionProvider>
         <enablement>
            <or>
               <instanceof
                     value="uk.ac.diamond.scisoft.icatexplorer.rcp.data.Root">
               </instanceof>
               <instanceof
                     value="uk.ac.diamond.scisoft.icatexplorer.rcp.data.DIcat">
               </instanceof>
               <instanceof
                     value="uk.ac.diamond.scisoft.icatexplorer.rcp.data.DInvestigation">
               </instanceof>
               <instanceof
                     value="uk.ac.diamond.scisoft.icatexplorer.rcp.data.DDataset">
               </instanceof>
               <instanceof
                     value="uk.icat3.client.Datafile">
               </instanceof> 
            </or>
         </enablement>
      </navigatorContent>
      <commonFilter
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.provider.CNFFilter"
            description="Only shows the Parent02"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.filters.parent2only"
            name="Parent 02 Filter">
      </commonFilter>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="uk.ac.diamond.scisoft.icatexplorer.rcp.perspective">
         
         <view
               closeable="false"
               id="uk.ac.diamond.scisoft.icatexplorer.rcp.view"
               minimized="true"
               restorable="false"
               moveable="true"
               ratio="0.5"
               relationship="stack"
               relative="uk.ac.diamond.scisoft.icatlogin.rcp.ui.LoginView"
               showTitle="true"
               standalone="false"
               visible="false">
         </view> 
         <view
               closeable="false"
               id="uk.ac.diamond.scisoft.icatlogin.rcp.ui.LoginView"
               minimized="false"
               restorable="true"
               moveable="true"
               ratio="0.3"
               relationship="left"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="false"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:uk.ac.diamond.scisoft.icatexplorer.rcp.view.popup?after=group.edit">
         <command
               commandId="org.eclipse.ui.edit.delete"
               id="cnf.popupmenu.delete"
               label="Delete"
               mnemonic="D"
               style="push">
         </command>
         <command
               commandId="org.eclipse.ui.edit.rename"
               id="cnf.popupmenu.rename"
               label="Rename"
               mnemonic="R"
               style="push">
         </command>
      </menuContribution>
   <!--   <menuContribution
            locationURI="popup:uk.ac.diamond.scisoft.icatexplorer.rcp.view.popup?after=group.properties">
         <command
               commandId="org.eclipse.ui.file.properties"
               id="cnf.popupmenu.props"
               label="Properties"
               mnemonic="I"
               style="push">
         </command>
      </menuContribution>-->
    <!--  <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="fileMenu"
               label="File">
            <command
                  commandId="uk.ac.diamond.scisoft.icatexplorer.rcp.exitCommand"
                  label="Exit"
                  style="push"
                  tooltip="Exit application">
            </command>
         </menu>
      </menuContribution> -->
    <!--  <menuContribution
            allPopups="false"
            locationURI="popup:uk.ac.diamond.scisoft.icatexplorer.rcp.view.popup?after=group.properties">
         <command
               commandId="uk.ac.diamond.scisoft.icatexplorer.rcp.commands.opendataset"
               label="Open dataset"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:uk.ac.diamond.scisoft.icatexplorer.rcp.view.popup?after=group.properties">
         <command
               commandId="uk.ac.diamond.scisoft.icatexplorer.rcp.commands.openinvestigation"
               label="Open Investigation"
               style="push">
         </command>
      </menuContribution> -->
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.handler.RenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <activeWhen>
            <reference
                  definitionId="uk.ac.diamond.scisoft.icatexplorer.rcp.elementSelected">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="uk.ac.diamond.scisoft.icatexplorer.rcp.elementSelected">
            </reference>
         </enabledWhen>
      </handler>
    <!--  <handler
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.handler.OpenDatasetHandler"
            commandId="uk.ac.diamond.scisoft.icatexplorer.rcp.commands.opendataset">
         <activeWhen>
            <instanceof
                  value="uk.ac.diamond.scisoft.icatexplorer.rcp.datasetSelected">
            </instanceof>
         </activeWhen>
         <enabledWhen>
            <instanceof
                  value="uk.ac.diamond.scisoft.icatexplorer.rcp.datasetSelected">
            </instanceof>
         </enabledWhen>
      </handler>
      <handler
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.handler.OpenInvestigationHandler"
            commandId="uk.ac.diamond.scisoft.icatexplorer.rcp.commands.openinvestigation">
         <enabledWhen>
            <instanceof
                  value="uk.ac.diamond.scisoft.icatexplorer.rcp.investigationSelected">
            </instanceof>
         </enabledWhen>
         <activeWhen>
            <instanceof
                  value="uk.ac.diamond.scisoft.icatexplorer.rcp.investigationSelected">
            </instanceof>
         </activeWhen>
      </handler> -->
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.elementSelected">
         <with
               variable="selection">
            <iterate
                  ifEmpty="false"
                  operator="or">
               <instanceof
                     value="uk.ac.diamond.scisoft.icatexplorer.rcp.data.DDataset">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.datasetSelected">
         <with
               variable="uk.ac.diamond.scisoft.icatexplorer.rcp.with1">
            <iterate>
               <instanceof
                     value="uk.ac.diamond.scisoft.icatexplorer.rcp.data.DDataset">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.investigationSelected">
         <with
               variable="uk.ac.diamond.scisoft.icatexplorer.rcp.with2">
            <iterate>
               <instanceof
                     value="uk.ac.diamond.scisoft.icatexplorer.rcp.data.DInvestigation">
               </instanceof>
            </iterate>
         </with>
      </definition>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.editors.DDatasetEditor"
            default="false"
            icon="icons/prop_ps.gif"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.editors.dataseteditor"
            name="Dataset Editor"
            allowMultiple="true">
      </editor>
      <editor
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.editors.DatafileEditor"
            icon="icons/prop_ps.gif"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.editors.DatafileEditor"
            name="Datafile Editor"
            allowMultiple="true">
      </editor>
      <editor
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.editors.DInvestigationEditor"
            default="false"
            icon="icons/prop_ps.gif"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.editors.investigationeditor"
            name="Investigation Editor"
            allowMultiple="true">
      </editor>
   </extension>
   <extension
         point="uk.ac.diamond.scisoft.introRegister">
      <introPageRegister
            class="uk.ac.diamond.scisoft.icatexplorer.rcp.launcher.ICATPerspectiveLauncher"
            description="This perspective allows exploring and opening data from the Diamond archiving system"
            icon="icons/icat-logo-128x128.gif"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.introPageRegister"
            name="(Pre-release) ICAT Explorer">
      </introPageRegister>
   </extension>
   <!-- extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="uk.ac.diamond.scisoft.icatexplorer.rcp.contribution1"
            objectClass="uk.ac.diamond.scisoft.icatexplorer.rcp.data.Child">
         <action
               class="uk.ac.diamond.scisoft.icatwsrcp.popup.actions.DeleteAction"
               enablesFor="1"
               id="uk.ac.diamond.scisoft.icatexplorer.rcp.deleteAction"
               label="Delete"
               menubarPath="group.edit"
               tooltip="Delete a child">
         </action>
      </objectContribution>
   </extension-->
</plugin>
